.player-page {
  width: 100%;
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  background: var(--td-bg-color-page);
  color: var(--td-text-color-primary);


  .player-container {
    flex: 1;
    display: flex;
    overflow: hidden;

    .video-info-panel-container {
      flex: 310px;
      width: 310px;
      min-width: 310px;
      max-width: 310px;
      padding: 8px;
      background: var(--td-bg-color-page);
      overflow-y: hidden;
      border-right: 1px solid var(--td-border-level-1-color);
    }

    .video-content-container {
      flex: 1;
      width: calc(100% - 326px);
      display: flex;
      flex-direction: column;
      background: var(--td-bg-color-page);
    }
  }
}

